<li>
  {{#link-to 'org.repo.issues' name }} {{name}} {{/link-to}}
</li>
  <ul>
    <li>
      <h5> Fork Count: {{forks}} </h5>
    </li>

    <li>
      <h5> Watcher Count: {{watchers}} </h5>
    </li>
  </ul>
