<h2> Repo: {{model.name}} </h2>

<ul class="repo-nav">
    <li>{{#link-to 'org.repo.issues'}} ISSUES {{/link-to}}</li>
    <li>{{#link-to 'org.repo.contributors'}} CONTRIBUTORS {{/link-to}}</li>
</ul>

{{outlet}}
