<ul>
  <li> {{#link-to 'org.repo.issues' 'react'}} react {{/link-to}} </li>
  <li> {{#link-to 'org.repo.issues' 'react-native'}} react-native {{/link-to}} </li>
  <li> {{#link-to 'org.repo.issues' 'watchman'}} react-watchman {{/link-to}} </li>

</ul>

{{outlet}}
