<h4> Watchman </h4>

<ul class="repo-nav">
    <li>{{#link-to 'org.repo.issues'}} ISSUES {{/link-to}}</li>
    <li>{{#link-to 'org.repo.contributors'}} CONTRIBUTORS {{/link-to}}</li>
</ul>

{{outlet}}
