<h2> Organization List </h2>

  <ul>
    <li> {{#link-to 'org.repos' 'jquery'}} JQuery {{/link-to}} </li>
    <li> {{#link-to 'org.repos' 'emberjs'}} Ember {{/link-to}} </li>
    <li> {{#link-to 'org.repos' 'netflix'}} Netflix {{/link-to}} </li>
  </ul>


{{outlet}}
