<h2> Organization List </h2>

  <ul>
    {{#each model as |company|}}
        {{github-org name=company.id}}
    {{/each}}
  </ul>

  {{social-info
      name="Mike North"
      twitter="MichaelLNorth"
      github='mike-north'
      on-links-toggle='linksToggled'}}

    {{social-info
        name="MN"
        github='mike-north'}}


{{outlet}}
